<nav>
    <div class="nav-wrapper light-blue darken-4">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down ">
        <li class="active  blue accent-4"><a href="sass.html">Inicio</a></li>
        <li><a routerLink="/admin/get">Usuarios</a></li>
        <li><a routerLink="/vuelos/get">Vuelos</a></li>
        <li><a routerLink="/rutas/get">Rutas</a></li>
        <li><a routerLink="/aeropuertos/get">Aeropuertos</a></li>
        <li><a routerLink="/seguridad/login">Login</a></li>
      </ul>
    </div>
</nav>
        