<nav>
    <div class="nav-wrapper red accent-3">
      
      <a href="#" class="brand-logo"> Fly Emirates</a> 
      <ul id="nav-mobile" class="right hide-on-med-and-down ">
        <li class="active  red accent-4"><a href="sass.html">Inicio</a></li>
        <li><a routerLink="/admin/get">Usuarios</a></li>
        <li><a routerLink="/vuelos/get">Vuelos</a></li>
        <li><a routerLink="/rutas/get">Rutas</a></li>
        <li><a routerLink="/aeropuertos/get">Aeropuertos</a></li>
        <!-- Sesion -->
        <li *ngIf="!activeSession"><a routerLink="/seguridad/login">Login</a></li>
        <li *ngIf="activeSession"><a routerLink="/seguridad/logout">Cerrar Sesion</a></li>
      </ul>
    </div>
</nav>

        